pyrofork==2.3.61
TgCrypto
pyromod==1.5
aiosmtplib

schedule==1.2.1
APScheduler==3.10.4

pymongo==4.6.2
motor==3.3.2
dnspython
umongo<3.0

aiohttp==3.9.3
requests==2.31.0
python-dotenv==1.0.1

beautifulsoup4==4.12.3
aiofiles==23.2.1
pytz==2023.3.post1
tzlocal==5.2
marshmallow
shortzy

# Optional
pillow==10.2.0
uvloop==0.19.0

# Newly added
async-timeout==4.0.3
